<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Cryptanalysis web helper</h1>
    <ul id="index-list">
        <li><a href="/analyze_rsa">RSA Key Analysis</a></li>
        <li><a href="/frequency_analysis">Letter Frequency Analysis</a></li>
        <li><a href="/caesar_brute_force">Caesar Cipher Brute Force</a></li>
        <li><a href="/index_of_coincidence">Index of coincidence</a></li>
    </ul>
</body>
</html>
